In [1]:
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# File to Load (Remember to change these)
city_data_to_load = "data/city_data.csv"
ride_data_to_load = "data/ride_data.csv"

# Read the City and Ride Data next

In [2]:
#Read the City data
city_pd = pd.read_csv(city_data_to_load, encoding="utf-8")

#print observations to get an idea of the dataframe
city_pd.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [3]:
#Ride data
ride_pd = pd.read_csv(ride_data_to_load, encoding="utf-8")

#print observations to get an idea of the dataframe
ride_pd.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2018-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2018-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2018-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2018-02-10 23:22:03  23.44  5149245426178
4          South Jack  2018-03-06 04:28:35  34.58  3908451377344

In [4]:
#We want to know....

#Average Fare ($) Per City
#Total Number of Rides Per City
#Total Number of Drivers Per City
#City Type (Urban, Suburban, Rural)

In [5]:
# Combine the data into a single dataset
# Merge data by city. Since we want to see all city data, use outer join since both datasets might not match completely by city.
mergecityride_table_pd = pd.merge(city_pd, ride_pd, on="city", how="outer")

#print first few observations of new dataframe
mergecityride_table_pd.head()

          city  driver_count   type                 date   fare        ride_id
0  Richardfort            38  Urban  2018-02-24 08:40:38  13.93  5628545007794
1  Richardfort            38  Urban  2018-02-13 12:46:07  14.00   910050116494
2  Richardfort            38  Urban  2018-02-16 13:52:19  17.92   820639054416
3  Richardfort            38  Urban  2018-02-01 20:18:28  10.26  9554935945413
4  Richardfort            38  Urban  2018-04-17 02:26:37  23.00   720020655850

In [11]:
# Obtain the x and y coordinates for each of the three city types

mergecityride1_table_pd = mergecityride_table_pd.groupby(['city','type'])
print(mergecityride1_table_pd)

<pandas.core.groupby.groupby.DataFrameGroupBy object at 0x0000017F03A0F9B0>

In [18]:
Total_fare = mergecityride1_table_pd["fare"].mean()
Total_fare.head()
#Total_fare = mergecityride1_table_pd.groupby['city'].fare.sum()
#Total_fare.head()

city           type
Amandaburgh    Urban       24.641667
Barajasview    Urban       25.332273
Barronchester  Suburban    36.422500
Bethanyland    Suburban    32.956111
Bradshawfurt   Rural       40.064000
Name: fare, dtype: float64

In [12]:
Total_rides = mergecityride1_table_pd["ride_id"].count()
Total_rides.head()

city           type
Amandaburgh    Urban       18
Barajasview    Urban       22
Barronchester  Suburban    16
Bethanyland    Suburban    18
Bradshawfurt   Rural       10
Name: ride_id, dtype: int64

In [13]:
Total_drivers = mergecityride1_table_pd["driver_count"].mean()
Total_drivers.head()

city           type
Amandaburgh    Urban       12
Barajasview    Urban       26
Barronchester  Suburban    11
Bethanyland    Suburban    22
Bradshawfurt   Rural        7
Name: driver_count, dtype: int64

In [ ]:
#plt.scatter(x_axis, data, marker="o", facecolors="red", edgecolors="black",
            #s=driver_count, alpha=0.75)

## Bubble Plot of Ride Sharing Data

In [ ]:


# Build the scatter plots for each city types

# Incorporate the other graph properties

# Create a legend

# Incorporate a text label regarding circle size

# Save Figure

In [ ]:
# Show plot
plt.show()

## Total Fares by City Type

In [ ]:
# Calculate Type Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Rides by City Type

In [ ]:
# Calculate Ride Percents

# Build Pie Chart

# Save Figure

In [ ]:
# Show Figure
plt.show()

## Total Drivers by City Type

In [ ]:
# Calculate Driver Percents

# Build Pie Charts

# Save Figure

In [ ]:
# Show Figure
plt.show()